body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px;
}

#faq-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    position: relative;
}

.faq-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    padding: 15px;
}

.faq-card p {
    text-align: justify;
}

#animated-marx {
    width: 70px; 
    height: auto; 
    margin-right: 10px;
}

#close-and-play-btn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#close-faq {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #888;
    cursor: pointer;
}


#game-container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#question-container {
    margin-bottom: 20px;
}

#options-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.option {
    background-color: #3498db;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #2980b9;
}

#next-btn {
    background-color: #2ecc71;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s;
}

#next-btn:hover {
    background-color: #27ae60;
}

#score-container {
    margin-top: 20px;
    font-size: 18px;
}

.instagram-btn {
    background-color: #405de6; 
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}

.instagram-btn:hover {
    background-color: #5851db;
}

#share-twitter-btn,
#share-whatsapp-btn {
    background-color: #1DA1F2; 
    color: #fff; 
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px; 
}

#share-whatsapp-btn {
    background-color: #25D366;
}

#share-twitter-btn:hover,
#share-whatsapp-btn:hover {
    background-color: #15709F;
}

#share-twitter-btn i,
#share-whatsapp-btn i {
    margin-right: 5px; 
}

#github-btn {
    background-color: #030303; 
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}

#final-screen {
    max-width: 600px;
    margin: auto;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
}

#final-screen.hidden {
    display: none;
}

#play-again-btn {
    background-color: #2ecc71;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s;
}

#play-again-btn:hover {
    background-color: #27ae60;
}


